<li><a href="@Url.Action("Index", "Clan", new { area = "ModulRecepcionar" })"><i class="fa fa-users"></i> <span>Članovi</span></a></li>
<li><a href="@Url.Action("Index", "Termin", new { area = "ModulRecepcionar" })"><i class="fa fa-calendar"></i> <span>Raspored termina</span></a></li>
<li><a href="@Url.Action("Index", "UplataClanarine", new { area = "ModulRecepcionar" })"><i class="fa fa-usd"></i> <span>Uplate članarina</span></a></li>
<li><a href="@Url.Action("Index", "Obavijest", new { area = "ModulRecepcionar" })"><i class="fa fa-paper-plane-o"></i> <span>Obavijesti</span></a></li>
<li class="treeview">
    <a href="#">
        <i class="fa fa-list"></i>
        <span>Više opcija</span>
        <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
        <li></li>
        <li><a href="@Url.Action("Index", "Grad", new { area = "ModulRecepcionar" })"><i class="fa fa-circle-o"></i> Gradovi</a></li>
        <li><a href="@Url.Action("Index", "VrstaClanarine", new { area = "ModulRecepcionar" })"><i class="fa fa-circle-o"></i> Vrste članarina</a></li>
        <li><a href="@Url.Action("Index", "VrstaTreninga", new { area = "ModulRecepcionar" })"><i class="fa fa-circle-o"></i> Vrste treninga</a></li>
        <li><a href="@Url.Action("Index", "Sala", new { area = "ModulRecepcionar" })"><i class="fa fa-circle-o"></i> Sale</a></li>
    </ul>
</li>