@*<li><a href="@Url.Action("Index", "Obavijest", new { area = "ModulClan" })"><i class="fa fa-paper-plane-o"></i> <span>Obavijesti</span></a></li>
<li><a href="@Url.Action("Index", "Termin", new { area = "ModulClan" })"><i class="fa fa-calendar"></i> <span>Raspored termina</span></a></li>
<li><a href="@Url.Action("Index", "PlanTreninga", new { area = "ModulClan" })"><i class="fa fa-heart"></i> <span>Trening</span></a></li>
<li><a href="@Url.Action("Index", "UplataClanarine", new { area = "ModulClan" })"><i class="fa fa-usd"></i> <span>Uplate</span></a></li>
<li><a href="@Url.Action("Index", "Profil", new { area = "ModulClan" })"><i class="fa fa-user"></i> <span>Moj profil</span></a></li>*@

<li><a href="@Url.Action("Index", "Clan", new { area = "ModulClan" })"><i class="fa fa-user"></i> <span>Timeline</span></a></li>
<li><a href="@Url.Action("Profil", "Clan", new { area = "ModulClan" })"><i class="fa fa-user"></i> <span>Profil</span></a></li>